<?xml version="1.0" ?>

<!--see http://checkstyle.sourceforge.net/checks.html for all checks-->

<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <module name="TreeWalker">
        <!-- Currently the full path to custom checks are required -->
        <module name="com.github.sevntu.checkstyle.checks.coding.ReturnNullInsteadOfBoolean"/>
        <!-- full path is not required for checks from main library -->
        <!-- <module name="ConstantName"/> -->


        <!--<module name="AvoidStarImport">-->
            <!--<property name="excludes" value="java.io,java.net,java.lang.Math"/>-->
            <!--<property name="allowClassImports" value="false"/>-->
            <!--<property name="allowStaticMemberImports" value="false"/>-->
        <!--</module>-->

        <module name="CyclomaticComplexity">
            <property name="max" value="20"/>
        </module>
        <module name="CommentsIndentation"/>
        <module name="DefaultComesLast"/>
        <module name="EmptyBlock"/>
        <module name="EmptyCatchBlock"/>
        <module name="EmptyForInitializerPad"/>
        <module name="EmptyForIteratorPad"/>
        <module name="EmptyLineSeparator"/>
        <module name="EmptyStatement"/>
        <module name="EqualsAvoidNull"/>
        <module name="FileLength">
            <property name="max" value="1000"/>
        </module>

        <module name="FinalLocalVariable">
            <property name="tokens" value="VARIABLE_DEF,PARAMETER_DEF"/>
        </module>
        <module name="GenericWhitespace"/>

        <module name="Indentation">
            <property name="caseIndent" value="0"/>
        </module>

        <module name="LineLength">
            <property name="max" value="120"/>
        </module>

        <module name="MagicNumber"/>

        <module name="MethodLength">
            <property name="tokens" value="METHOD_DEF"/>
            <property name="max" value="60"/>
        </module>

        <module name="MethodParamPad">
            <property name="tokens" value="METHOD_DEF"/>
            <property name="option" value="space"/>
            <property name="allowLineBreaks" value="true"/>
        </module>

        <module name="MultipleStringLiterals"/>

        <module name="RedundantImport"/>

        <module name="UnusedImports"/>



    </module>
</module>
